
/* Styles for / */

body {
  font-size: 14px;
  color: #5c5c5c;
  background-color: #111111;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}
a:link, a:visited { color: #3D3D3D  ; text-decoration: underline; }
a:hover, a:focus { text-decoration: none; background: #231F1F; color: #ffffff; }
p { margin: 0.3em 0 .3em 0; }
div#container {
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
div#header {
  margin: 0 0 18px 0;
}
div#header-title {
  color: #2FC2EF;
  font-size: 40px;
  letter-spacing: -1px;
}

div#header-title a:link, div#header-title a:visited { color: #2FC2EF  ; text-decoration: none; }
div#header-title a:hover, div#header-title a:focus { text-decoration: none; background: none; color: #2FC2EF; }


div#header-accessories {
  float: right;
}
h1 {
  font-family: georgia, 'bitstream vera sans serif', 'lucida grande', helvetica, verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -2px;
  margin: 0 0 .25em 0;
}
div#misses-container {
  font-size: 28px;
  margin: .5em 0 .5em 0;
}
span.detail {
  color: #e7e13a;
  background: #231f1f;
  font-family: 'bitstream vera sans mono', courier, monospace;
  white-space: pre;
}
span.justmissedearth { color: #2FC2EF; }
ul#misses {
  list-style: none;
  margin: 1em 0 1em 0;
  padding: 0;
}
ul#misses li {
  margin: .25em 0 .75em 0;
}

div#footer { margin: 10px 0 10px 0; }

/* Styles for /misses/(.*) */

span.miss-permalink {
  font-size: 0.5em;
}
div#miss-detail-container {
  font-size: 26px;
  margin: .5em 0 1em 0;
}
div.miss-attribute {}
div.miss-value {
  padding: 3px 6px;
  font-size: 34px;
  color: #e7e13a;
  background: #231f1f;
  font-family: 'bitstream vera sans mono', courier, monospace;
  white-space: pre;
  margin: 0 0 20px 0;
}
