{% extends "base.html" %}

{% block feed %}<link rel="alternate" type="application/rss+xml" title="RSS 2.0 Latest Misses" href="/feed" />{% endblock %}
{% block content %}
<h1>The last {{fetch_count}} objects to just miss earth by less than 3,840,000 kilometres...</h1>
<div id="misses-container">
{% if close_approaches %}
<ul id="misses">
  {% for ca in close_approaches %}
  <li>
    At <span class="detail">{{ca.approach_date}}</span> an object named <span class="detail">{{ca.object_name}}</span> 
    with a diameter of <span class="detail">{{ca.estimated_diameter}} metres</span> <span class="justmissedearth">just missed earth</span>
    by <span class="detail">{{ca.minimum_distance_away}} kilometres</span>!
    <span class="miss-permalink"><a href="/misses/{{ ca.key }}">details</a></span>
  </li>
  {% endfor %}
</ul>
{% else %}
  <div>Sorry, no near misses to display right now.</div>
{% endif %}
</div>
{% endblock %}
