{% extends "base.html" %}

{% block title %}{{ca.object_name}} just missed earth{% endblock %}
{% block content %}
<h1>"{{ca.object_name}}" just missed earth...</h1>
<div id="miss-detail-container">
  <p>Official Name: <span class="detail">{{ca.object_name}}</span></p>
  <p>Approach Time: <span class="detail">{{ca.approach_date}} UTC</span></p>
  <p>Estimated Diamater: <span class="detail">{{ca.estimated_diameter}} metres</span></p>
  <p>Missed by: <span class="detail">{{ca.minimum_distance_away}} kilometres</span></p>
  <p>Travelling at: <span class="detail">{{ca.relative_velocity}} kilometres per second</span></p>
</div>
{% endblock %}